@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2 {
  font-family: 'Roboto Mono', monospace
}

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
body.d {
  background: rgb(23 23 23);
}

.muscle-svg {
  fill: black;
}

.muscle-svg > g > path:first-child {
  fill: #d4d4d4;
}

.muscle-svg:hover > g > path:first-child {
  fill: #0ea5e9;
  cursor:pointer;
}

.dark .muscle-svg {
  fill: #7c7c7c;
}

.dark .muscle-svg > g > path:first-child {
  fill: #2f2f2f;
}

.dark .muscle-svg:hover > g > path {
  fill: #0ea5e9;
  cursor:pointer;
}

.slant {
  clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
}

.gradient-mask {
  -webkit-mask-image: linear-gradient(transparent, black);
  mask-image: linear-gradient(transparent, black);
}

.sidebar-taper {
  -webkit-mask-image: linear-gradient(to top, transparent, black 5%, black 90%);
  mask-image: linear-gradient(to top, transparent, black 5%, black 90%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}
